:root {
  --clr-text-primary: rgba(28, 73, 128, 1);
  --clr-text-secondry: rgba(0, 115, 230, 1);
  --clr-form-text: rgb(36, 77, 127);
  --clr-text-50: rgba(141, 164, 191, 1);
  --clr-system-stroke: rgba(218, 220, 224, 1);
  --clr-light-grey: rgba(141, 164, 191, 1);

  --clr-icon-primary: rgba(101, 72, 238, 1);
  --clr-icon-nav: rgba(0, 115, 230, 1);
  /*defining common properties so that its easier if there is any change*/

  --clr-icon-bg-primary: rgba(235, 232, 253, 1);
  --clr-bordr-primary: rgba(48, 121, 225, 1);

  --clr-bg-white: rgba(255, 255, 255, 1);
  --clr-bg-secondry: rgba(255, 255, 255, 1);

  --fw-primary: 500;
  --fw-medium: 600;
  --fw-bolder: 700;

  --fs-primary: 18px;
  --fs-small: 12px;
  --fs-medium: 14px;
  --fs-medium2-16: 16px;
  --fs-large: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: inline;
  cursor: pointer;
}
a {
  text-decoration: none; /*to remove all the underlines in a tags*/
}
html {
  color-scheme: light;
  height: 100%;
}

body {
  height: 100%;
  max-width: 100%; /* max-width to keep content inside body and avoid horizontal scroll bar*/
  font-family: Inter;
  background: rgba(246, 248, 250, 1);
  font-size: var(--fs-primary);
  font-weight: var(--fw-primary);
  color: var(--clr-text-primary);
  line-height: normal;
}

.app-container {
  display: flex;
  gap: 16px;
  min-width: 100%;
  height: auto;
  position: relative;
}

.nav-container {
  display: flex;
  color: var(--clr-text-secondry);
  font-size: var(--fs-small);
  align-items: flex-start;
  padding: 16px 20px 20px 30px;
  gap: 10px;
  flex-shrink: 0;
  background: var(--clr-bg-white);
  border: 1px solid var(--clr-bg-white);
  height: 100vh;
  flex: 0 1;
}

.list-item {
  display: flex;
  width: 90px;
  height: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-align: center;
}

.list-item-selected {
  background: rgba(229, 241, 252, 1);
  border-radius: 8px;
  border: 1px solid var(--clr-icon-nav);
}

.list-admin {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.admin {
  color: rgba(214, 53, 0, 1);
  font-size: 10px;
  border-radius: 22px;
  border: 1px solid var rgba(214, 53, 0, 1);
  background: #fbebea;
  padding: 0 8px;
  border: 1px solid rgba(214, 53, 0, 1);
}
.main-content-container {
  display: flex;
  flex-direction: column;
  background: var(--clr-bg-white);
  border-radius: 12px;
  flex: 1 0;
  color: var(--clr-text-primary);
  height: auto;
  width: 100%;
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 100%;
  height: 100vh;
  gap: 20px;
  flex: 1 0;
  position: relative; /*to position its children relative to the position of main-content container*/
  padding: 20px 20px;
}

.page-nav {
  display: flex;
  font-weight: var(--fw-medium);
  height: 70px;
  padding: 0 20px;
  align-items: center;
  gap: 20px;
  width: 100%;
  border-bottom: 1px solid var(--clr-text-50);
  color: var(--clr-text-primary);
  font-size: 20px;
}

.page-nav img:nth-of-type(2) {
  /*nth of type img tag*/
  margin-left: auto;
}

.page-nav-link-active {
  display: flex;
  font-size: var(--fs-medium);
  color: var(--clr-text-secondry);
  padding: 10px 0;
  border-bottom: 3px solid var(--clr-text-secondry);
  height: 100%;
  align-items: center;
}

.mob-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mob-header img:nth-of-type(1) {
  padding: 7px 16px;
}
.mob-nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  gap: 14px;
  font-size: 16px;
  font-weight: var(--fw-medium);
}

.mob-nav img:nth-of-type(2) {
  margin-left: auto;
  padding: 10px;
}

.mob-page-nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--clr-text-50);
  justify-content: space-around;
  font-size: var(--fs-medium);
  text-align: center;
}

.overview-section {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-large);
  gap: 20px;
}
.overview-box p {
  font-size: var(--fs-medium);
}

.overview-box {
  display: flex;

  border-radius: 12px;
  flex-wrap: wrap;
}

.common-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 20px;
  max-width: 100%;
  flex: 1 1 auto;
  border: 1px solid var(--clr-system-stroke);
}
.common-box:first-child {
  border-radius: 12px 0 0 12px;
}
.common-box:last-child {
  border-radius: 0 12px 12px 0;
}

.inside-box {
  display: flex;
  gap: 20px;
  font-weight: var(--fw-bolder);
  align-items: center;
}

.stats-box {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-small);
  gap: 1px;
}

.small-number {
  color: rgba(5, 193, 101, 1);
  font-size: var(--fs-small);
}

.stats-box-text {
  font-size: var(--fs-small);
}

.stats-box-number {
  font-size: var(--fs-primary);
}
.my-assesments {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.my-assesment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-assesment-img-container {
  display: flex;
  gap: 4px;
}

.assesment-cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.new-assesment {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 30px;
  gap: 12px;
  font-size: var(--fs-primary);
  border-radius: 12px;
  border: 1px dotted var(--clr-text-50);
  justify-content: center;
  align-items: center;
  background: rgba(246, 248, 250, 1);
  text-align: center;
  cursor: pointer;
}

.new-assesment img {
  border-radius: 72px;
  background-color: var(--clr-bg-white);
  padding: 10px;
}
.new-assesment p {
  font-size: var(--fs-small);
}
.subject-assesment {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  border: 1px solid rgba(218, 220, 224, 1);
  border-radius: 12px;
  position: relative;
  font-size: 20px;
}
.subject-box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 10px;
  max-width: 100%;
}

.subject-calendar {
  display: flex;
  font-size: var(--fs-small);
  align-items: center;
  gap: 10px;
}

.subject-calendar span {
  font-size: var(--fs-medium);
}
.subject-calendar time {
  color: var(--clr-text-50);
}

.subject-footer {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.ques-duration {
  display: flex;
  flex: 1;
  gap: 14px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.ques-duration p {
  font-size: var(--fs-small);
}
.ques-duration div {
  display: flex;
  flex-direction: column;
  gap: -1px;
}

.share-user {
  display: flex;
  gap: 10px;
  font-size: var(--fs-medium);
  flex: 1;
  align-items: center;

  justify-content: flex-end;
}

.share-image {
  display: flex;
  border: 1px solid var(--clr-text-primary);

  border-radius: 50px;
  padding: 2px 8px 2px 6px;
  align-items: center;
  gap: 4px;
  justify-content: center;
}
.share-image img {
  max-width: 30px;
  height: auto;
}

.image-container {
  position: relative;
  width: 60px;
  height: 30px;
}

.image-container img {
  position: absolute;
  width: 50%;
  height: 100%;
  object-fit: contain; /* To maintain image shape inside the container */
}

.image-container img:nth-child(1) {
  left: 0;
  z-index: 1; /*z-index is used to make the content apprear above the 2-d screen*/
}

.image-container img:nth-child(2) {
  left: 25%; /* Half of the container width - overlapping by 25% */
  z-index: 2;
}

.image-container img:nth-child(3) {
  left: 50%; /* Overlapping by 50% */
  z-index: 3;
}

.footer {
  display: flex;
  width: 100%;
  height: 150px;
  align-items: flex-start;
  gap: 30px;
}

.form {
  z-index: 14;
  background: var(--clr-bg-white);
  position: absolute;
  width: 44%;
  left: 28%;
  border-radius: 8px;
}

.form-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 30px;
  
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px 30px;
  border-bottom: 1px solid var(--clr-system-stroke);
  font-weight: var(--fw-medium);
  font-size: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  font-size: var(--fs-medium2-16);
  font-size: 16px;
  font-weight: 600;
  flex-wrap: wrap;
}

.label-section {
  font-size: var(--fs-medium2-16);
  font-weight: 500;
}
.skills{
  color: var(--clr-text-secondry);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-small);
  font-weight: 400;
  width: 20%;
  padding: 2px 6px;
  background: rgba(242, 248, 254, 1);
  border-radius: 6px;
  border: 0.2px solid  hsla(210, 100%, 45%, 1);;
}
.skills-container{
  display: flex;
  gap: 8px;
  max-width: 100%;
  flex-wrap: wrap;
}

.input-section {
  height: 50px;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid var(--clr-system-stroke);
  font-size: var(--fs-medium);
  background-color: #fff;
  outline: none;
}

.save-btn-container {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -4px 50px 0px rgba(0, 0, 0, 0.09);
}

.save-btn {
  background-color: var(--clr-text-secondry);
  padding: 10px 30px;
  border-radius: 8px;
  color: var(--clr-bg-white);
  font-size: var(--fs-medium);
  font-weight: var(--fw-medium);
  border: none;
  width: 100%;
  cursor: pointer;
}

.submit-btn:hover {
  background: rgb(14, 161, 90);
}

::placeholder {
  /* placeholder doesn't take input section's color, we need to use this pdeudo class to achieve it */
  color: var(--clr-text-50);
}

.overlay-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 12;
  width: 100%;
  height: 100%;
}

.slide-up-enter {
  transform: translateY(100%); /*will move upwards 100%*/
}

.slide-up-enter-active {
  /*transition applied to form*/
  transform: translateY(0);
  transition: transform 300ms ease;
}

.slide-up-exit {
  transform: translateY(0);
}

.slide-up-exit-active {
  transform: translateY(100%);
  transition: transform 300ms ease;
}

.fade-in-enter {
  opacity: 0;
}
.fade-in-enter-active {
  opacity: 1;
  transition: opacity 300ms ease;
}

.fade-in-exit {
  opacity: 1;
}

.fade-in-exit-active {
  opacity: 0;
  transition: opacity 300ms ease;
}

/*media queries are used to modify the style for smaller screens*/

@media screen and (max-width: 766px) {
  .nav-container {
    z-index: 5;
    padding: 40px 20px 10px 20px;
    gap: 6px;
    min-height: 100vh;
    min-width: 315px;
    font-size: var(--fs-medium);
    background: rgba(242, 248, 254, 1);
  }
  .list-admin {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 8px;
  }

  .admin {
    margin-left: auto;
  }
  .list-admin span {
    order: 2;
  }
  .list-admin li {
    order: 1;
  }

  .main-content-container {
    position: absolute;
    width: 100%;
  }
  .slid-in {
    height: 100%;
  }

  .list-item {
    min-width: 100%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  .my-assesment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .my-assesment-img-container {
    display: flex;
    gap: 10px;
  }
  .my-assesment-img-container img {
    object-fit: contain;
  }

  .chart-active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid hsla(210, 100%, 45%, 1);
    background:  rgb(195, 221, 248);

  }


  .common-box {
    max-width: 100%;
  }

  .overview-box .common-box:first-child {
    order: 1;
  } /*setting order of the children of overview-box as their order on the screen is different on smaller screens*/
  .overview-box .common-box:last-child {
    order: 2;
  }
  .overview-box .common-box:nth-child(2) {
    order: 3;
  }
  .overview-box .common-box:nth-child(3) {
    order: 4;
    border-radius: 0 0 12px 12px;
  }
  .subject-assesment {
    font-size: var(--fs-medium);
    width: 100%;
  }
  .new-assesment {
    min-width: 100%;
  }

  .share-image {
    display: flex;
    justify-content: space-around;
  }

  .form {
    position: absolute;
    left: 0 !important;
    right: 0;
    top: 0;
    bottom: 0;
    top: 0;
    min-width: 100%;
    height: 100vh;
    z-index: 20;
    background: var(--clr-bg-white);

   
  }

  .share-image {
    font-size: 80%;
  }
  .share-image img {
    object-fit: contain;
    width: 40%;
    height: 40%;
  }
  .share-user span {
    font-size: 90%;
  }

  .ques-duration {
    max-width: 50%;
  }

  .overlay-box {
    z-index: 6;
  }
}
